$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@import "includes/animations";

@import "includes/buttons";

@import "includes/header";

@import "includes/navigation";

@import "includes/home";

@import "includes/footer";

/***************************
****************************
General Styles
****************************
***************************/

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: #FFFFFF;
  color: #464646;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 444px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #2b363d;
  font-weight: 300;
  line-height: normal;
  margin: 0;
}

h2, .h2 {
  font-size: 32px;
}

a {
  outline: none;
  text-decoration: none;
  color: #2b363d;

  &:active, &:hover, &:focus {
    outline: none;
    text-decoration: none;
    color: #2b363d;
  }
}

p {
  line-height: 27px;
}

strong {
  font-weight: normal;
}

.show-xs, .show-s, .show-m, .show-xl {
  display: none;
}

.sticky-cover {
  position: relative;
  z-index: 97;
}

.top-gray-border {
  border-top: 1px solid #efefef;
}

.bottom-gray-border {
  border-bottom: 1px solid #efefef;
}

.ng-enter {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  opacity: 0;
}

.ng-enter-active {
  opacity: 1;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.animated {
  -webkit-animation: 1s ease both;
  -moz-animation: 1s ease both;
  -ms-animation: 1s ease both;
  -o-animation: 1s ease both;
  animation: 1s ease both;
}

.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -ms-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}

.modal-backdrop {
  &.in {
    opacity: 0.8;
  }
}

.logo {
  a {
    background: url("../images/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 29px;
    text-indent: -9999px;
    width: 155px;
    -webkit-transition-property: width;
    -o-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
  }
}
