#brands-bottom {
  border-top: 1px solid #f1f1f1;
  padding: 40px 0;

  > div {
    float: left;
    width: 25%;
    height: 94px;
    line-height: 94px;
    border-right: 1px solid #f1f1f1;
    text-align: center;

    @media #{$xs} {
      width: 50%;
      height: auto;
      line-height: normal;
    }

    &:first-child {
      text-align: left;
    }

    &:last-child {
      border-right: none;
      text-align: right;
    }

    &:first-child,
    &:last-child {
      @media #{$xs} {
        text-align: center;
      }
    }

    &:first-child,
    &:nth-child(2) {
      @media #{$xs} {
        border-bottom: 1px solid #f1f1f1;
        padding-bottom: 37px;
      }
    }

    &:nth-child(2) {
      @media #{$xs} {
        border-right: none;
      }
    }

    &:last-child,
    &:nth-child(3) {
      @media #{$xs} {
        padding-top: 37px;
      }
    }

    > span {
      background: url("../images/brands-bottom-icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
      display: inline-block;
      height: 43px;
      padding-left: 54px;
      text-align: left;
      vertical-align: middle;

      @media #{$xs} {
        background: no-repeat;
        text-align: center;
        height: auto;
        padding: 0;
      }

      > .icon {
        @media #{$xs} {
          background: url("../images/brands-bottom-icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
          height: 43px;
          width: 43px;
          display: inline-block;
          margin-bottom: 10px;
        }
      }

      > * {
        display: block;
        line-height: 23px;
        color: #47565f;
      }

      > strong {
        font-size: 24px;
        font-weight: 700;

        @media #{$small} {
          font-size: 16px;
        }

        @media #{$xs} {
          font-size: 18px;
        }
      }

      > span {
        font-size: 14px;

        @media #{$small} {
          font-size: 12px;
        }
      }
    }
  }

  .brand-bottom-1 > span {
    background-position: 0 0;

    .icon {
      @media #{$xs} {
        background-position: 0 0;
      }
    }
  }

  .brand-bottom-2 > span {
    background-position: 0 -43px;

    .icon {
      @media #{$xs} {
        background-position: 0 -43px;
      }
    }
  }

  .brand-bottom-3 > span {
    background-position: 0 -86px;

    .icon {
      @media #{$xs} {
        background-position: 0 -86px;
      }
    }
  }

  .brand-bottom-4 > span {
    background-position: 0 -129px;

    .icon {
      @media #{$xs} {
        background-position: 0 -129px;
      }
    }
  }
}
