$gray-1: #CCCCCC;
$gray-2: #464646;
$gray-3: #2b363d;
$gray-4: #efefef;
$gray-5: #afb5b9;
$gray-6: #f1f1f1;
$gray-7: #47565f;
$gray-8: #747e84;
$gray-9: #9b9ea1;
$gray-10: #373e42;
$gray-11: #282e31;
$gray-12: #71777b;
$gray-13: #969fa4;
$gray-14: rgba(39, 48, 51, 0.3);
$gray-15: rgba(39, 48, 51, 0.7);
$gray-16: rgba(255, 255, 255, 0.1);
$gray-17: #7f868a;
$gray-18: #6f7579;
$gray-19: #4c5357;
$gray-20: rgba(0, 0, 0, 0.15);

$green-1: #30d824;
$green-2: #2ac020;

$transparent-black: rgba(0, 0, 0, 0);
$transparent-white: rgba(255, 255, 255, 0.9);

$blue-1: #3dc0e6;

