#expect {
  background: url("../images/pattern-2.jpg") repeat-x scroll 0 0 #FFFFFF;
  padding: 60px 0;
  border-top: 1px solid #f1f1f1;

  h2 {
    text-align: center;
    margin-bottom: 45px;

    @media #{$xs} {
      margin-bottom: 39px;
    }
  }
}

.expect-item {
  float: left;
  padding: 0 12px;
  text-align: center;
  width: 25%;

  @media #{$xs} {
    float: none;
    width: 100%;
    padding: 0;
    text-align: center;
    margin-bottom: 10px;
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  img {
    margin-bottom: 18px;

    @media #{$xs} {
      display: inline-block;
    }
  }

  h4 {
    color: #362f2d;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 21px;
    text-transform: uppercase;
  }

  p {
    font-size: 13px;
    line-height: 21px;
    margin: 0;
  }
}

#expect-gallery {
  .carousel-indicators {
    @media #{$xs} {
      margin-top: 34px;
    }
  }
}
