footer {
  background: url("../images/footer-bg.png") repeat-x scroll 0 0 #373e42;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 95;
  height: 444px;

  @media #{$xs} {
    height: auto;
    position: static;
  }
}

.waves-1 {
  background-image: url("../images/waves-1.png");
  background-position: 0 0;
  background-repeat: repeat-x;
  -webkit-animation: animatedBackgroundRight 40s linear infinite;
  -moz-animation: animatedBackgroundRight 40s linear infinite;
  -ms-animation: animatedBackgroundRight 40s linear infinite;
  -o-animation: animatedBackgroundRight 40s linear infinite;
  animation: animatedBackgroundRight 40s linear infinite;
}

.waves-2 {
  background-image: url("../images/waves-2.png");
  background-position: 1398px 0;
  background-repeat: repeat-x;
  -webkit-animation: animatedBackgroundLeft 40s linear infinite;
  -moz-animation: animatedBackgroundLeft 40s linear infinite;
  -ms-animation: animatedBackgroundLeft 40s linear infinite;
  -o-animation: animatedBackgroundLeft 40s linear infinite;
  animation: animatedBackgroundLeft 40s linear infinite;
}

#tell-us-more {
  color: #47565f;
  padding-top: 110px;
  text-align: center;
  h3 {
    color: #FFFFFF;
    font-size: 29px;
    margin-bottom: 0;
  }
  p {
    color: #9b9ea1;
    font-size: 15px;
    line-height: 24px;
    margin: 0 0 20px;
  }
  .btn-2 {
    box-shadow: 8px 5px 15px -15px #000;
    font-size: 17px;
    height: 54px;
    line-height: 54px;
    margin: 0 auto;
    width: 233px;
    &.internal {
      display: none;
    }
  }
}

.get-quote-page #tell-us-more .btn-2 {
  &.external {
    display: none;
  }
  &.internal {
    display: block;
  }
}

#footer-social {
  background: url("../images/curl.png") no-repeat scroll 50% 0 #373e42;
  margin-top: 22px;
  padding-top: 22px;
  ul {
    border-bottom: 1px solid #282e31;
    margin: 0;
    padding-bottom: 26px;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 9px;
      line-height: 38px;
      color: #71777b;
      &.email a {
        color: #71777b;
      }
      &:not(.email) a {
        background: url("../images/social-footer-icons.png") no-repeat 0 0;
        height: 38px;
        width: 38px;
        display: inline-block;
        text-indent: -9999px;
      }
      &.social-item-1 a {
        background-position: 0 0;
        &:hover {
          background-position: 0 -38px;
        }
      }
      &.social-item-2 a {
        background-position: 0 -76px;
        &:hover {
          background-position: 0 -114px;
        }
      }
      &.social-item-3 a {
        background-position: 0 -152px;
        &:hover {
          background-position: 0 -190px;
        }
      }
      &.social-item-4 a {
        background-position: 0 -228px;
        &:hover {
          background-position: 0 -266px;
        }
      }
    }
  }
}

#handcrafted {
  padding: 20px 0 8px 0;
  text-align: center;
  h6 {
    background: url("../images/handcrafted.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 54px;
    text-indent: -9999px;
    width: 245px;
  }
}
