#get-quote {
  background-color: #FFFFFF;
  .row {
    border-bottom: 1px solid #e8ecef;
  }
}

#quote-form {
  padding: 38px 0;
  width: 770px;
  margin: 0 auto;

  @media #{$medium} {
    width: 620px;
  }

  @media #{$small, $xs} {
    margin: 0;
    width: 100%;
  }

  label {
    color: #424d54;
    line-height: 40px;
    margin: 0;
    font-weight: normal;
    display: block;
    overflow: hidden;

    span {
      color: #3dc0e6;
      font-size: 12px;
      float: right;
    }
  }

  .dropdown {
    > a {
      background: url("../images/arrow-6.png") no-repeat scroll 100% 50% #edf0f2;
      border: 1px solid #edf0f2;
      color: #303030;
      display: block;
      font-size: 14px;
      height: 37px;
      line-height: 37px;
      margin: 0;
      padding: 0 20px;
      width: 100%;
      overflow: hidden;
    }
    .dropdown-menu {
      width: 100%;
    }
  }

  input {
    &[type="text"], &[type="email"] {
      background-color: #edf0f2;
      border: 1px solid #edf0f2;
      color: #303030;
      height: 37px;
      margin: 0;
      padding: 0 20px;
      resize: none;
      width: 100%;
      font-size: 14px;
    }
  }

  textarea {
    background-color: #edf0f2;
    border: 1px solid #edf0f2;
    color: #303030;
    height: 37px;
    margin: 0;
    padding: 0 20px;
    resize: none;
    width: 100%;
    font-size: 14px;
  }

  input {
    &[type="text"]:focus, &[type="email"]:focus {
      border: 1px solid #8eddf4;
      box-shadow: 0 0 10px 0 #8eddf4;
      background-color: #FFFFFF;
    }
  }

  textarea:focus, .dropdown.open > a {
    border: 1px solid #8eddf4;
    box-shadow: 0 0 10px 0 #8eddf4;
    background-color: #FFFFFF;
  }

  textarea {
    padding: 20px;
    height: 115px;
  }

  .submitted .error {
    .ng-invalid {
      background-color: #fde8e5;
      &:focus {
        box-shadow: 0 0 10px 0 #fde8e5;
        border: 1px solid #fde8e5;
      }
    }
    label span {
      color: #30d824;
    }
  }

  div fieldset > div {
    margin-bottom: 10px;
    width: 50%;
    float: left;

    @media #{$xs} {
      width: 100%;
      float: none;
      padding: 0 !important;
    }

    &:first-child {
      padding-right: 15px;
    }

    &:last-child {
      padding-left: 15px;
    }
  }
}

#map > div {
  height: 382px;
}

#contact-links {
  background-color: #FFFFFF;
  padding: 34px 0;

  ul {
    margin-bottom: 0;

    @media #{$xs} {
      border-bottom: 1px solid #f3f3f3;
      padding-bottom: 23px;
      margin-bottom: 23px;
    }
  }

  .row {
    > div {
      &:last-child {
        ul {
          @media #{$xs} {
            margin-bottom: 0;
            border-bottom: none;
          }
        }
      }
    }
  }

  h5 {
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  a {
    color: #464646;
  }

  li {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      background: url("../images/contact-links-icons.png") no-repeat 0 0;
      height: 32px;
      line-height: 32px;
      padding-left: 41px;
      display: block;
    }
  }
  .contact-links-1 a {
    background-position: 0 0;
    &:hover {
      background-position: 0 -32px;
    }
  }

  .contact-links-2 a {
    background-position: 0 -64px;
    &:hover {
      background-position: 0 -96px;
    }
  }

  .contact-links-3 a {
    background-position: 0 -128px;
    &:hover {
      background-position: 0 -160px;
    }
  }

  .contact-links-4 {
    position: relative;
    padding-left: 41px;
    line-height: 23px;

    span {
      background: url("../images/contact-links-icons.png") no-repeat 0 -192px;
      display: block;
      height: 32px;
      width: 32px;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:hover span {
      background: url("../images/contact-links-icons.png") no-repeat 0 -224px;
    }
  }

  .contact-links-5 a {
    background-position: 0 -256px;
    &:hover {
      background-position: 0 -288px;
    }
  }

  .contact-links-6 a {
    background-position: 0 -320px;
    &:hover {
      background-position: 0 -352px;
    }
  }

  .contact-links-7 a {
    background-position: 0 -384px;
    &:hover {
      background-position: 0 -416px;
    }
  }
}

#quote-form .btn-2 {
  margin: 22px auto 0 auto;
  display: block;
  height: 54px;
  width: 240px;
  font-size: 17px;
}

.successMessage {
  img {
    margin-bottom: 20px;
  }
  p {
    color: #89c981 !important;
    font-size: 18px;
    text-transform: uppercase;
  }
}
