/***************************
****************************
Responsive
****************************
***************************/

$large: "(min-width: 1200px)";
$medium: "(min-width: 993px) and (max-width: 1200px)";
$small: "(min-width: 768px) and (max-width: 992px)";
$xs: "(max-width: 767px)";

.show-xs,
.show-s,
.show-m,
.show-xl {
  display: none;
}

@media #{$large} {
  .hide-xl {
    display: none !important;
  }

  .show-xl {
    display: block;
  }
}

@media #{$medium} {
  .hide-m {
    display: none !important;
  }

  .show-m {
    display: block;
  }
}

@media #{$small} {
  .hide-s {
    display: none !important;
  }

  .show-s {
    display: block;
  }
}

@media #{$xs} {
  .hide-xs {
    display: none !important;
  }

  .show-xs {
    display: block;
  }
}
