.services-page {
  .page-phrase {
    height: 298px;
    margin-bottom: -77px;

    @media #{$xs} {
      padding-top: 105px;
    }
  }
}

.services-links-bottom {
  border-top: 1px solid #F1F1F1;
  padding: 25px 0;

  h2 {
    text-align: center;
    margin-bottom: 25px;
  }
}

.service-tabs, .services-links-bottom {
  background-color: #FFFFFF;
}

.service-tabs .xub-nav li {
  width: 33.33%;
}

.services-links-bottom {
  .xub-nav {
    li {
      width: 50%;
      border-right: 1px solid #F1F1F1;

      &:last-child {
        border-right: none;
      }

      a {
        color: #8f9397;
        display: block;
        font-weight: 600;
        font-size: 14px;
        height: 133px;
        text-align: center;
        cursor: pointer;
        border-bottom: 2px solid #d7dbde;
        position: relative;
        border-bottom: none;

        &:hover {
          color: #696d71;
        }

        span {
          &:not(.service-name) {
            display: block;
            margin: 0 auto;
            position: relative;
          }
        }
      }

      &.active {
        a {
          background-color: #FFFFFF;
          color: #303030;
          border-bottom: 2px solid #30d824;
        }
      }
    }
  }
}

.service-tabs {
  .xub-nav {
    li {
      a {
        color: #8f9397;
        display: block;
        font-weight: 600;
        font-size: 14px;
        height: 133px;
        text-align: center;
        cursor: pointer;
        border-bottom: 2px solid #d7dbde;
        position: relative;

        &:hover {
          color: #696d71;
        }

        span {
          &:not(.service-name) {
            display: block;
            margin: 0 auto;
            position: relative;
          }
        }
      }

      &.active {
        a {
          background-color: #FFFFFF;
          color: #303030;
          border-bottom: 2px solid #30d824;
        }
      }
    }
  }
}

.service-tabs .xub-nav li a span.tab-icon-1, .services-links-bottom .xub-nav li a span.tab-icon-1 {
  background: url("../images/tab-icon-1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 41px;
  width: 51px;
  top: 25px;
}

.service-tabs .xub-nav li a:hover span.tab-icon-1, .services-links-bottom .xub-nav li a:hover span.tab-icon-1 {
  background-position: 0 -82px;
}

.service-tabs .xub-nav li.active a span.tab-icon-1, .services-links-bottom .xub-nav li.active a span.tab-icon-1 {
  background-position: 0 -41px;
}

.service-tabs .xub-nav li a span.tab-icon-2, .services-links-bottom .xub-nav li a span.tab-icon-2 {
  background: url("../images/tab-icon-2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 45px;
  width: 39px;
  top: 21px;
}

.service-tabs .xub-nav li a:hover span.tab-icon-2, .services-links-bottom .xub-nav li a:hover span.tab-icon-2 {
  background-position: 0 -90px;
}

.service-tabs .xub-nav li.active a span.tab-icon-2, .services-links-bottom .xub-nav li.active a span.tab-icon-2 {
  background-position: 0 -45px;
}

.service-tabs .xub-nav li a span.tab-icon-3, .services-links-bottom .xub-nav li a span.tab-icon-3 {
  background: url("../images/tab-icon-3.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 35px;
  width: 35px;
  top: 31px;
}

.service-tabs .xub-nav li a:hover span.tab-icon-3, .services-links-bottom .xub-nav li a:hover span.tab-icon-3 {
  background-position: 0 -70px;
}

.service-tabs .xub-nav li.active a span.tab-icon-3, .services-links-bottom .xub-nav li.active a span.tab-icon-3 {
  background-position: 0 -35px;
}

.service-tabs .xub-nav li a span.tab-icon-4, .services-links-bottom .xub-nav li a span.tab-icon-4 {
  background: url("../images/tab-icon-4.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 45px;
}

.service-tabs .xub-nav li a span.service-name, .services-links-bottom .xub-nav li a span.service-name {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
}

.service {
  padding-top: 60px;

  .subtitle {
    background: url("../images/curl-2.png") no-repeat scroll 50% 100% rgba(0, 0, 0, 0);
    text-align: center;
    padding-bottom: 50px;

    h2 {
      color: #3dc0e6;
    }
  }

  > .service-text {
    text-align: center;
    width: 760px;
    margin: 0 auto;
    padding: 50px 0;

    @media #{$xs} {
      width: 100%;
      text-align: center;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
      color: #2b363d;
      font-size: 16px;
      line-height: 26px;
    }
  }

  > h2 {
    @media #{$xs} {
      text-align: center;
      margin-bottom: 44px;
    }
  }

  > .service-image {
    @media #{$xs} {
      text-align: center;
      width: 100%;
    }
  }
}

.service-features {
  padding-bottom: 60px;
  > h2 {
    margin-bottom: 52px;
    text-align: center;
  }
}

.service-feature {
  border-right: 1px solid #f4f4f4;
  float: left;
  height: 428px;
  padding: 8px 35px 0;
  text-align: center;
  width: 33.33%;

  @media #{$medium} {
    padding: 8px 18px 0;
  }

  @media #{$small} {
    border-right: 1px solid #f4f4f4 !important;
    border-top: 1px solid #f4f4f4 !important;
    height: 450px;
    padding: 35px 35px 0 35px !important;
    width: 50%;
  }

  @media #{$xs} {
    border: none !important;
    border-top: 1px solid #f4f4f4 !important;
    float: none;
    height: auto;
    padding: 31px 0 41px;
    width: 100%;
  }

  &:first-child {
    @media #{$xs} {
      border-top: none !important;
      padding-top: 0 !important;
    }
  }

  &:nth-child(3n+3) {
    border-right: none;
  }

  &:nth-last-child(-n+3) {
    padding-top: 61px;
    border-top: 1px solid #f4f4f4;
  }

  &:nth-child(2n+2) {
    @media #{$small} {
      border-right: none !important;
    }
  }

  &:nth-child(-n+2) {
    @media #{$small} {
      padding-top: 8px !important;
      border-top: none !important;
    }
  }

  img {
    margin-bottom: 26px;
  }

  h4 {
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 22px;
  }

  p {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
  }
}

.second-description {
  color: #3dc0e6;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  padding: 60px 0;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;

  > div {
    width: 760px;
    margin: 0 auto;

    @media #{$small, $xs} {
      width: 100%;
    }
  }
}
