#work-gallery {
  background-color: #fff;
  padding-bottom: 31px;
}

#gallery-nav {
  margin: 0;
  text-align: center;
  padding: 31px 0;

  li {
    display: inline-block;

    a {
      border-radius: 20px;
      color: #707070;
      display: block;
      font-weight: 600;
      font-size: 13px;
      line-height: 31px;
      padding: 0 17px;
      text-transform: uppercase;

      &:hover {
        color: #30d824;
      }
    }

    &.active a {
      background-color: #30d824;
      color: #FFFFFF;
    }
  }
}
